{% extends 'main.html' %}


{% block content %}

    {% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label>Username:</label>
            <input name="username" type="text" placeholder="Enter your username" />

            <label>Password:</label>
            <input name="password" type="password" placeholder="Enter your password" />

            <input type="submit" value="Login" />
        </form>
        <p>Haven't reistered yet?</p>
        <a href="{% url 'base:register' %}">Sign up</a>
    </div>

    {% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            
            {{form.as_p}}

            <input type="submit" value="Register" />
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'base:login' %}">Sign In</a>
    </div>

{% endif %}
{% endblock  %}